### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.venv
/dummy.py

# build and python artefacts
.coverage
dist/
*.egg-info
htmlcov
pytest-report
__pycache__

# generated sources
src/mlp_sdk/mlp_api
src/mlp_sdk/storage_api
src/mlp_sdk/mlp_connector/grpc_
.aider*
.env.aider
version-info.json
