openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://app.caila.io
  description: Generated server url
paths:
  /api/mlpcore/providers/{providerName}/models/{modelName}:
    get:
      tags:
      - llm-models-endpoint
      operationId: getLlmModel
      parameters:
      - name: providerName
        in: path
        required: true
        schema:
          type: string
      - name: modelName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LlmModelsData'
    put:
      tags:
      - llm-models-endpoint
      operationId: updateLlmModel
      parameters:
      - name: providerName
        in: path
        required: true
        schema:
          type: string
      - name: modelName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLlmModelsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LlmModelsData'
    delete:
      tags:
      - llm-models-endpoint
      operationId: deleteLlmModel
      parameters:
      - name: providerName
        in: path
        required: true
        schema:
          type: string
      - name: modelName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "204":
          description: No Content
  /api/mlpcore/admin/price-markup:
    get:
      tags:
      - price-markup-admin-endpoint
      operationId: getGlobalMarkup
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceMarkupData'
    put:
      tags:
      - price-markup-admin-endpoint
      operationId: upsertGlobalMarkup
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceMarkupUpdateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceMarkupData'
    delete:
      tags:
      - price-markup-admin-endpoint
      operationId: deleteGlobalMarkup
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/price-markup/clients/{clientId}:
    get:
      tags:
      - price-markup-admin-endpoint
      operationId: getClientMarkup
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceMarkupData'
    put:
      tags:
      - price-markup-admin-endpoint
      operationId: upsertClientMarkup
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceMarkupUpdateRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceMarkupData'
    delete:
      tags:
      - price-markup-admin-endpoint
      operationId: deleteClientMarkup
      parameters:
      - name: clientId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/exchange-rates/pairs/{from}/{to}:
    get:
      tags:
      - exchange-rate-admin-endpoint
      operationId: getRate
      parameters:
      - name: from
        in: path
        required: true
        schema:
          type: string
      - name: to
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateData'
    put:
      tags:
      - exchange-rate-admin-endpoint
      operationId: upsertRate
      parameters:
      - name: from
        in: path
        required: true
        schema:
          type: string
      - name: to
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateUpsertRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateData'
    delete:
      tags:
      - exchange-rate-admin-endpoint
      operationId: deleteRateByCurrencyPair
      parameters:
      - name: from
        in: path
        required: true
        schema:
          type: string
      - name: to
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/token/{token}:
    get:
      tags:
      - access-token-endpoint
      operationId: checkAccessToken
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenData'
    put:
      tags:
      - access-token-endpoint
      operationId: updateAccessToken
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccessTokenData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenData'
    delete:
      tags:
      - access-token-endpoint
      operationId: deleteAccessToken
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: token
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/notification:
    get:
      tags:
      - legacy-ui-notification-endpoint
      operationId: getNotifications
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UINotificationData'
    put:
      tags:
      - legacy-ui-notification-endpoint
      operationId: readNotifications
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadUINotificationRequest'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/daemon-set:
    get:
      tags:
      - daemon-set-endpoint
      operationId: getConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaemonSetConfigData'
    put:
      tags:
      - daemon-set-endpoint
      operationId: updateConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DaemonSetConfigData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DaemonSetConfigData'
  /p/{accountField}/{modelField}:
    get:
      tags:
      - process-endpoint
      operationId: getModelInfoOld
      parameters:
      - name: accountField
        in: path
        required: true
        schema:
          type: string
      - name: modelField
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
    post:
      tags:
      - process-endpoint
      operationId: servletPredict
      parameters:
      - name: accountField
        in: path
        required: true
        schema:
          type: string
      - name: modelField
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpgateway/account/{account}/model/{model}/tts:
    get:
      tags:
      - process-endpoint
      operationId: ttsStreamGet
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: text
        in: query
        required: true
        schema:
          type: string
      - name: voice
        in: query
        required: false
        schema:
          type: string
      - name: audioEncoding
        in: query
        required: false
        schema:
          type: string
          enum:
          - LINEAR16_PCM
      - name: sampleRateHertz
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: chunkSizeKb
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ResponseBodyEmitter'
      deprecated: true
    post:
      tags:
      - process-endpoint
      operationId: ttsStreamPost
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TtsRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ResponseBodyEmitter'
      deprecated: true
  /api/mlpgateway/account/{account}/model/{model}/predict:
    post:
      tags:
      - process-endpoint
      operationId: predict
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: dataType
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpgateway/account/{account}/model/{model}/predict-with-config:
    post:
      tags:
      - process-endpoint
      operationId: predictWithConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpgateway/account/{account}/model/{model}/predict-with-config-v2:
    post:
      tags:
      - process-endpoint
      operationId: predictWithConfig_v2
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Predict2RequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpgateway/account/{account}/model/{model}/predict-with-config-v2-stream:
    post:
      tags:
      - process-endpoint
      operationId: predictWithConfig_v2_stream
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Predict2RequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBodyEmitter'
  /api/mlpgateway/account/{account}/model/{model}/ext:
    post:
      tags:
      - process-endpoint
      operationId: ext
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendedRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpcore/wizard/account/{account}/validate:
    post:
      tags:
      - model-wizard-endpoint
      operationId: validateWizard
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelWizardData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/wizard/account/{account}/model:
    post:
      tags:
      - model-wizard-endpoint
      operationId: createModelFromWizard
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelWizardData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WizardModelCreation'
  /api/mlpcore/update-heartbeats:
    post:
      tags:
      - model-instance-endpoint
      operationId: updateLastHeartBeats
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/task/{taskId}/stop:
    post:
      tags:
      - task-endpoint
      operationId: stopJob
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/task/read:
    post:
      tags:
      - task-endpoint
      operationId: markRead
      parameters:
      - name: jobId
        in: query
        required: true
        schema:
          type: array
          items:
            type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/server-heartbeat:
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: serverHeartbeat
      parameters:
      - name: account
        in: query
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: serverId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/sendContactRequest:
    post:
      tags:
      - manual-management-endpoint
      operationId: sendEmail
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementRequestData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/providers:
    get:
      tags:
      - llm-providers-endpoint
      operationId: getAllProviders
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LlmProvidersListResponse'
    post:
      tags:
      - llm-providers-endpoint
      operationId: createProvider
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmProviderData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LlmProviderData'
  /api/mlpcore/providers/{providerName}/models:
    get:
      tags:
      - llm-models-endpoint
      operationId: getLlmModelsByProvider
      parameters:
      - name: providerName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LlmModelsListResponse'
    post:
      tags:
      - llm-models-endpoint
      operationId: createLlmModel
      parameters:
      - name: providerName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLlmModelsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LlmModelsData'
  /api/mlpcore/notifications/capacity/send:
    post:
      tags:
      - notifications-controller
      operationId: sendCapacityNotification
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/notification/broadcast:
    post:
      tags:
      - legacy-ui-notification-endpoint
      operationId: broadcastNotification
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastUINotificationRequest'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/model-name-availability:
    post:
      tags:
      - model-endpoint
      operationId: checkModelNameAvailability
      parameters:
      - name: modelName
        in: query
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelNameAvailability'
  /api/mlpcore/clicks:
    post:
      tags:
      - click-history-endpoint
      operationId: saveClick
      parameters:
      - name: visitorId
        in: cookie
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ClickHistoryData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/whiteList/v2:
    post:
      tags:
      - admin-endpoint
      operationId: updateAccountWhiteListV2
      parameters:
      - name: account
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/update-activities:
    post:
      tags:
      - admin-endpoint
      operationId: updateLastActivities
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/LastActivityPk'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/system-config/account/{account}/data:
    get:
      tags:
      - admin-endpoint
      operationId: getAccountDataDump
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDataDump'
    post:
      tags:
      - admin-endpoint
      operationId: restoreAccountDataDump
      parameters:
      - name: dryRun
        in: query
        required: true
        schema:
          type: boolean
      - name: noErrors
        in: query
        required: true
        schema:
          type: boolean
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          text/plain;charset=UTF-8:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifferenceIAccountDataDump'
  /api/mlpcore/admin/system-config/account/{account}/config:
    get:
      tags:
      - admin-endpoint
      operationId: getAccountConfigDump
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConfigDump'
    post:
      tags:
      - admin-endpoint
      operationId: restoreAccountConfigDump
      parameters:
      - name: dryRun
        in: query
        required: true
        schema:
          type: boolean
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConfigDump'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifferenceIAccountConfigDump'
  /api/mlpcore/admin/server/price/sync:
    post:
      tags:
      - admin-endpoint
      operationId: synchronizeAllServersPrices
      parameters:
      - name: providers
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/request-metrics/save:
    post:
      tags:
      - admin-endpoint
      operationId: saveMetrics
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RequestMetricsData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/pricing:
    get:
      tags:
      - llm-model-pricing-admin-endpoint
      operationId: getAllPricing_1
      parameters:
      - name: clientId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LlmModelPricingData'
    post:
      tags:
      - llm-model-pricing-admin-endpoint
      operationId: createPricing
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LlmModelPricingData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LlmModelPricingData'
  /api/mlpcore/admin/models/resource-group/migrate:
    post:
      tags:
      - admin-endpoint
      operationId: migrateAllServicesToResourceGroup
      parameters:
      - name: sourceGroup
        in: query
        required: true
        schema:
          type: string
      - name: targetGroup
        in: query
        required: false
        schema:
          type: string
      - name: targetGroupRegex
        in: query
        required: false
        schema:
          type: string
      - name: accountsLimit
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpcore/admin/minio/delete-empty-users:
    post:
      tags:
      - admin-endpoint
      operationId: deleteEmptyMinioUsers
      parameters:
      - name: count
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: dryRun
        in: query
        required: true
        schema:
          type: boolean
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyUsersResponse'
  /api/mlpcore/admin/instances/rolling-update:
    post:
      tags:
      - admin-endpoint
      operationId: rollingUpdateAllInstances
      parameters:
      - name: onlyK8s
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpcore/admin/instance/{instanceId}/restart:
    post:
      tags:
      - admin-endpoint
      operationId: restartInstance
      parameters:
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: reason
        in: query
        required: true
        schema:
          type: string
      - name: errorLevel
        in: query
        required: true
        schema:
          type: boolean
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/exchange-rates:
    get:
      tags:
      - exchange-rate-admin-endpoint
      operationId: getAllRates
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeRateData'
    post:
      tags:
      - exchange-rate-admin-endpoint
      operationId: createRate
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateData'
  /api/mlpcore/admin/account/{account}/whiteList:
    post:
      tags:
      - admin-endpoint
      operationId: updateAccountWhiteList
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: OK
      deprecated: true
  /api/mlpcore/admin/account/{account}/limits:
    post:
      tags:
      - admin-endpoint
      operationId: updateLimits
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountLimitsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoData'
  /api/mlpcore/admin/account/{account}/limit-notification:
    post:
      tags:
      - admin-endpoint
      operationId: sendLimitNotification
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LimitNotificationRequest'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/account/{account}/features:
    get:
      tags:
      - admin-endpoint
      operationId: getAccountFeatures
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFeatureData'
      deprecated: true
    post:
      tags:
      - admin-endpoint
      operationId: updateFeatures
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountFeatureData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account:
    get:
      tags:
      - account-endpoint
      operationId: ensureAccount
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoData'
    post:
      tags:
      - account-endpoint
      operationId: updateAccountData
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInfoData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoData'
  /api/mlpcore/account/{account}/token:
    get:
      tags:
      - access-token-endpoint
      operationId: listAccessTokens
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessTokenData'
    post:
      tags:
      - access-token-endpoint
      operationId: createAccessToken
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccessTokenData'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenData'
  /api/mlpcore/account/{account}/server/template:
    get:
      tags:
      - resource-group-servers-endpoint
      operationId: getOwnTemplates
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServerTemplateData'
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: addServerTemplate
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateServerTemplateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerTemplateData'
  /api/mlpcore/account/{account}/server/template/{templateId}:
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: updateServerTemplate
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateServerTemplateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerTemplateData'
    delete:
      tags:
      - resource-group-servers-endpoint
      operationId: deleteServerTemplate
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/resource-groups:
    post:
      tags:
      - resource-group-endpoint
      operationId: createResourceGroup
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceGroupData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupEssentialData'
  /api/mlpcore/account/{account}/resource-groups/{groupName}:
    get:
      tags:
      - resource-group-endpoint
      operationId: getResourceGroupData
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupEssentialData'
    post:
      tags:
      - resource-group-endpoint
      operationId: updateResourceGroup
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateResourceGroupData'
        required: true
      responses:
        "200":
          description: OK
    delete:
      tags:
      - resource-group-endpoint
      operationId: deleteResourceGroup
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/resource-groups/{groupName}/server:
    get:
      tags:
      - resource-group-servers-endpoint
      operationId: getServersData
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResourceGroupServerData'
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: addServerConfiguration
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceGroupServer'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupServerData'
  /api/mlpcore/account/{account}/resource-groups/{groupName}/server/{serverId}/prolong:
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: prolongServerLifetime
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProlongResourceGroupServerRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupServerData'
  /api/mlpcore/account/{account}/resource-groups/{groupName}/server/{serverId}/copy:
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: copyServerConfiguration
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyResourceGroupServer'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupServerData'
  /api/mlpcore/account/{account}/resource-groups/{groupName}/quota:
    get:
      tags:
      - resource-group-quota-endpoint
      operationId: getResourceGroupQuotas
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedPoolQuota'
    post:
      tags:
      - resource-group-quota-endpoint
      operationId: createResourceGroupQuota
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceGroupQuota'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedPoolQuota'
  /api/mlpcore/account/{account}/resource-groups/{groupName}/quota/{quotaId}:
    post:
      tags:
      - resource-group-quota-endpoint
      operationId: updateResourceGroupQuota
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: quotaId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateResourceGroupQuota'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedPoolQuota'
    delete:
      tags:
      - resource-group-quota-endpoint
      operationId: deleteResourceGroupQuota
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: quotaId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedPoolQuota'
  /api/mlpcore/account/{account}/model:
    get:
      tags:
      - model-endpoint
      operationId: getPagedModels
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: onlyMy
        in: query
        required: false
        schema:
          type: boolean
      - name: withFavorites
        in: query
        required: false
        schema:
          type: boolean
      - name: accountField
        in: query
        required: false
        schema:
          type: string
      - name: modelField
        in: query
        required: false
        schema:
          type: string
      - name: displayAuthor
        in: query
        required: false
        schema:
          type: string
      - name: onlyPublic
        in: query
        required: false
        schema:
          type: boolean
      - name: groupId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: taskType
        in: query
        required: false
        schema:
          type: string
      - name: language
        in: query
        required: false
        schema:
          type: string
      - name: imageId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: dataImageId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelInfoData'
    post:
      tags:
      - model-endpoint
      operationId: createModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
  /api/mlpcore/account/{account}/model/{model}:
    get:
      tags:
      - model-endpoint
      operationId: getModelInfo
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
    post:
      tags:
      - model-endpoint
      operationId: updateModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
    delete:
      tags:
      - model-endpoint
      operationId: deleteModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/simple-doc:
    get:
      tags:
      - model-endpoint
      operationId: getSimpleDoc
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            text/plain;charset=UTF-8:
              schema:
                type: string
    post:
      tags:
      - model-endpoint
      operationId: setSimpleDoc
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          text/plain;charset=UTF-8:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpcore/account/{account}/model/{model}/service-descriptor:
    post:
      tags:
      - model-endpoint
      operationId: setServiceDescriptorDoc
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceDescriptorData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/rolling-update:
    post:
      tags:
      - model-endpoint
      operationId: makeRollingUpdate
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/public-settings:
    get:
      tags:
      - model-endpoint
      operationId: getModelPublicSettings
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelPublicSettingsData'
    post:
      tags:
      - model-endpoint
      operationId: updateModelPublicSettings
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelPublicSettingsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelPublicSettingsData'
  /api/mlpcore/account/{account}/model/{model}/predict-config:
    get:
      tags:
      - predict-config-endpoint
      operationId: listPredictConfigs
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PredictConfigData'
    post:
      tags:
      - predict-config-endpoint
      operationId: createPredictConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictConfigData'
  /api/mlpcore/account/{account}/model/{model}/predict-config/{configId}:
    get:
      tags:
      - predict-config-endpoint
      operationId: getPredictConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictConfigData'
    post:
      tags:
      - predict-config-endpoint
      operationId: updatePredictConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictConfigData'
    delete:
      tags:
      - predict-config-endpoint
      operationId: deletePredictConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instances:
    get:
      tags:
      - model-endpoint
      operationId: getInstancesStatus
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstancesStatusData'
    post:
      tags:
      - model-endpoint
      operationId: setRequestedInstancesCount
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              maximum: 1000
              minimum: 0
              type: integer
              format: int32
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instances/single:
    post:
      tags:
      - model-endpoint
      operationId: startSingleInstance
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: causeAccountId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/{instanceId}/terminate:
    post:
      tags:
      - model-instance-endpoint
      operationId: terminateInstance
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/{instanceId}/stop:
    post:
      tags:
      - model-instance-endpoint
      operationId: stopInstance
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/{instanceId}/stat-log:
    post:
      tags:
      - stat-log-endpoint
      operationId: addInstanceConnected
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/{instanceId}/metadata:
    post:
      tags:
      - model-instance-endpoint
      operationId: updateInstanceMetadata
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceMetadata'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/start:
    post:
      tags:
      - model-endpoint
      operationId: startNewInstance
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/http:
    post:
      tags:
      - model-endpoint
      operationId: updateModelHttpSettings
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelHttpSettingsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelHttpSettingsData'
  /api/mlpcore/account/{account}/model/{model}/fit:
    post:
      tags:
      - process-endpoint
      operationId: fit
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FitRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusData'
  /api/mlpcore/account/{account}/model/{model}/fit-v2:
    post:
      tags:
      - process-endpoint
      operationId: fit_v2
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fit2RequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusData'
  /api/mlpcore/account/{account}/model/{model}/fit-config:
    get:
      tags:
      - fit-config-endpoint
      operationId: listFitConfigs
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FitConfigData'
    post:
      tags:
      - fit-config-endpoint
      operationId: createFitConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitConfigData'
  /api/mlpcore/account/{account}/model/{model}/fit-config/{configId}:
    get:
      tags:
      - fit-config-endpoint
      operationId: getFitConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitConfigData'
    post:
      tags:
      - fit-config-endpoint
      operationId: updateFitConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitConfigData'
    delete:
      tags:
      - fit-config-endpoint
      operationId: deleteFitConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/favorite:
    post:
      tags:
      - model-endpoint
      operationId: setFavorite
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: boolean
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/external:
    get:
      tags:
      - model-endpoint
      operationId: getExternalConnectionsInfo
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalConnectionInfoData'
    post:
      tags:
      - model-endpoint
      operationId: createExternalConnection
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: httpHost
        in: query
        required: false
        schema:
          type: string
      - name: httpPort
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalConnectionInfoData'
  /api/mlpcore/account/{account}/model/{model}/external-application:
    post:
      tags:
      - model-endpoint
      operationId: createExternalApplicationConnection
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalConnectionInfoData'
  /api/mlpcore/account/{account}/model/{model}/derived:
    post:
      tags:
      - model-endpoint
      operationId: createDerivedModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: displayName
        in: query
        required: false
        schema:
          type: string
      - name: displayAuthor
        in: query
        required: false
        schema:
          type: string
      - name: hidden
        in: query
        required: false
        schema:
          type: boolean
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
  /api/mlpcore/account/{account}/model/{model}/daemon-set/excluded-servers:
    get:
      tags:
      - daemon-set-endpoint
      operationId: listExcludedServers
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExcludedServerData'
    post:
      tags:
      - daemon-set-endpoint
      operationId: addExcludedServer
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExcludeServerRequest'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExcludedServerData'
  /api/mlpcore/account/{account}/model/{model}/cross-validation:
    post:
      tags:
      - process-endpoint
      operationId: crossValidation
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrossValidationRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusData'
  /api/mlpcore/account/{account}/model/{model}/clone:
    post:
      tags:
      - model-endpoint
      operationId: createClonedModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: displayName
        in: query
        required: false
        schema:
          type: string
      - name: displayAuthor
        in: query
        required: false
        schema:
          type: string
      - name: autoStart
        in: query
        required: false
        schema:
          type: boolean
      - name: templateId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: environmentVariables
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
[...]
