openapi: 3.0.1
info:
  title: OpenAPI definition
  version: v0
servers:
- url: https://app.caila.io
  description: Generated server url
paths:
  /p/{accountField}/{modelField}:
    get:
      tags:
      - process-endpoint
      operationId: getModelInfoOld
      parameters:
      - name: accountField
        in: path
        required: true
        schema:
          type: string
      - name: modelField
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
    post:
      tags:
      - process-endpoint
      operationId: servletPredict
      parameters:
      - name: accountField
        in: path
        required: true
        schema:
          type: string
      - name: modelField
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpgateway/account/{account}/model/{model}/tts:
    get:
      tags:
      - process-endpoint
      operationId: ttsStreamGet
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: text
        in: query
        required: true
        schema:
          type: string
      - name: voice
        in: query
        required: false
        schema:
          type: string
      - name: audioEncoding
        in: query
        required: false
        schema:
          type: string
          enum:
          - LINEAR16_PCM
      - name: sampleRateHertz
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: chunkSizeKb
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ResponseBodyEmitter'
      deprecated: true
    post:
      tags:
      - process-endpoint
      operationId: ttsStreamPost
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TtsRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/ResponseBodyEmitter'
      deprecated: true
  /api/mlpgateway/account/{account}/model/{model}/predict:
    post:
      tags:
      - process-endpoint
      operationId: predict
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: dataType
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpgateway/account/{account}/model/{model}/predict-with-config:
    post:
      tags:
      - process-endpoint
      operationId: predictWithConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PredictRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpgateway/account/{account}/model/{model}/predict-with-config-v2:
    post:
      tags:
      - process-endpoint
      operationId: predictWithConfig_v2
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Predict2RequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpgateway/account/{account}/model/{model}/predict-with-config-v2-stream:
    post:
      tags:
      - process-endpoint
      operationId: predictWithConfig_v2_stream
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Predict2RequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseBodyEmitter'
  /api/mlpgateway/account/{account}/model/{model}/ext:
    post:
      tags:
      - process-endpoint
      operationId: ext
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendedRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpcore/task/{taskId}/stop:
    post:
      tags:
      - task-endpoint
      operationId: stopJob
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/server-heartbeat:
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: serverHeartbeat
      parameters:
      - name: account
        in: query
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: serverId
        in: query
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/sendContactRequest:
    post:
      tags:
      - manual-management-endpoint
      operationId: sendEmail
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementRequestData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/clicks:
    post:
      tags:
      - click-history-endpoint
      operationId: saveClick
      parameters:
      - name: visitorId
        in: cookie
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ClickHistoryData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/admin/system-config/account/{account}/data:
    get:
      tags:
      - admin-endpoint
      operationId: getAccountDataDump
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDataDump'
    post:
      tags:
      - admin-endpoint
      operationId: restoreAccountDataDump
      parameters:
      - name: dryRun
        in: query
        required: true
        schema:
          type: boolean
      - name: noErrors
        in: query
        required: true
        schema:
          type: boolean
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          text/plain;charset=UTF-8:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifferenceIAccountDataDump'
  /api/mlpcore/admin/system-config/account/{account}/config:
    get:
      tags:
      - admin-endpoint
      operationId: getAccountConfigDump
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountConfigDump'
    post:
      tags:
      - admin-endpoint
      operationId: restoreAccountConfigDump
      parameters:
      - name: dryRun
        in: query
        required: true
        schema:
          type: boolean
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConfigDump'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DifferenceIAccountConfigDump'
  /api/mlpcore/admin/minio/delete-empty-users:
    post:
      tags:
      - admin-endpoint
      operationId: deleteEmptyMinioUsers
      parameters:
      - name: count
        in: query
        required: true
        schema:
          type: integer
          format: int32
      - name: dryRun
        in: query
        required: true
        schema:
          type: boolean
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyUsersResponse'
  /api/mlpcore/admin/instances/rolling-update:
    post:
      tags:
      - admin-endpoint
      operationId: rollingUpdateAllInstances
      parameters:
      - name: onlyK8s
        in: query
        required: false
        schema:
          type: boolean
          default: true
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpcore/admin/account/{account}/limits:
    post:
      tags:
      - admin-endpoint
      operationId: updateLimits
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountLimitsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoData'
  /api/mlpcore/admin/account/{account}/features:
    get:
      tags:
      - admin-endpoint
      operationId: getAccountFeatures
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountFeatureData'
    post:
      tags:
      - admin-endpoint
      operationId: updateFeatures
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountFeatureData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account:
    get:
      tags:
      - account-endpoint
      operationId: ensureAccount
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoData'
    post:
      tags:
      - account-endpoint
      operationId: updateAccountData
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountInfoData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfoData'
  /api/mlpcore/account/{account}/token:
    get:
      tags:
      - access-token-endpoint
      operationId: listAccessTokens
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessTokenData'
    post:
      tags:
      - access-token-endpoint
      operationId: createAccessToken
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenData'
  /api/mlpcore/account/{account}/server/template:
    get:
      tags:
      - resource-group-servers-endpoint
      operationId: getOwnTemplates
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServerTemplateData'
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: addServerTemplate
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateServerTemplateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerTemplateData'
  /api/mlpcore/account/{account}/server/template/{templateId}:
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: updateServerTemplate
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpdateServerTemplateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerTemplateData'
    delete:
      tags:
      - resource-group-servers-endpoint
      operationId: deleteServerTemplate
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: templateId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/resource-groups:
    get:
      tags:
      - resource-group-endpoint
      operationId: getAvailableResourceGroups
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResourceGroupData'
      deprecated: true
    post:
      tags:
      - resource-group-endpoint
      operationId: createResourceGroup
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceGroupData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupEssentialData'
  /api/mlpcore/account/{account}/resource-groups/{groupName}:
    get:
      tags:
      - resource-group-endpoint
      operationId: getResourceGroupData
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupEssentialData'
    post:
      tags:
      - resource-group-endpoint
      operationId: updateResourceGroup
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateResourceGroupData'
        required: true
      responses:
        "200":
          description: OK
    delete:
      tags:
      - resource-group-endpoint
      operationId: deleteResourceGroup
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/resource-groups/{groupName}/server:
    get:
      tags:
      - resource-group-servers-endpoint
      operationId: getServersData
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ResourceGroupServerData'
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: addServerConfiguration
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceGroupServer'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupServerData'
  /api/mlpcore/account/{account}/resource-groups/{groupName}/server/{serverId}/copy:
    post:
      tags:
      - resource-group-servers-endpoint
      operationId: copyServerConfiguration
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: serverId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyResourceGroupServer'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupServerData'
  /api/mlpcore/account/{account}/resource-groups/{groupName}/quota:
    get:
      tags:
      - resource-group-quota-endpoint
      operationId: getResourceGroupQuotas
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedPoolQuota'
    post:
      tags:
      - resource-group-quota-endpoint
      operationId: createResourceGroupQuota
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceGroupQuota'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedPoolQuota'
  /api/mlpcore/account/{account}/resource-groups/{groupName}/quota/{quotaId}:
    post:
      tags:
      - resource-group-quota-endpoint
      operationId: updateResourceGroupQuota
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: quotaId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateResourceGroupQuota'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedPoolQuota'
    delete:
      tags:
      - resource-group-quota-endpoint
      operationId: deleteResourceGroupQuota
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: quotaId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedPoolQuota'
  /api/mlpcore/account/{account}/model:
    get:
      tags:
      - model-endpoint
      operationId: getPagedModels
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: onlyMy
        in: query
        required: false
        schema:
          type: boolean
      - name: withFavorites
        in: query
        required: false
        schema:
          type: boolean
      - name: accountField
        in: query
        required: false
        schema:
          type: string
      - name: modelField
        in: query
        required: false
        schema:
          type: string
      - name: onlyPublic
        in: query
        required: false
        schema:
          type: boolean
      - name: groupId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: taskType
        in: query
        required: false
        schema:
          type: string
      - name: language
        in: query
        required: false
        schema:
          type: string
      - name: imageId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: dataImageId
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedModelInfoData'
    post:
      tags:
      - model-endpoint
      operationId: createModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
  /api/mlpcore/account/{account}/model/{model}:
    get:
      tags:
      - model-endpoint
      operationId: getModelInfo
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
    post:
      tags:
      - model-endpoint
      operationId: updateModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
    delete:
      tags:
      - model-endpoint
      operationId: deleteModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/simple-doc:
    get:
      tags:
      - model-endpoint
      operationId: getSimpleDoc
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            text/plain;charset=UTF-8:
              schema:
                type: string
    post:
      tags:
      - model-endpoint
      operationId: setSimpleDoc
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          text/plain;charset=UTF-8:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
  /api/mlpcore/account/{account}/model/{model}/service-descriptor:
    post:
      tags:
      - model-endpoint
      operationId: setServiceDescriptorDoc
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceDescriptorData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/public-settings:
    get:
      tags:
      - model-endpoint
      operationId: getModelPublicSettings
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelPublicSettingsData'
    post:
      tags:
      - model-endpoint
      operationId: updateModelPublicSettings
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelPublicSettingsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelPublicSettingsData'
  /api/mlpcore/account/{account}/model/{model}/predict-config:
    get:
      tags:
      - predict-config-endpoint
      operationId: listPredictConfigs
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PredictConfigData'
    post:
      tags:
      - predict-config-endpoint
      operationId: createPredictConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictConfigData'
  /api/mlpcore/account/{account}/model/{model}/predict-config/{configId}:
    get:
      tags:
      - predict-config-endpoint
      operationId: getPredictConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictConfigData'
    post:
      tags:
      - predict-config-endpoint
      operationId: updatePredictConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictConfigData'
    delete:
      tags:
      - predict-config-endpoint
      operationId: deletePredictConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instances:
    get:
      tags:
      - model-endpoint
      operationId: getInstancesStatus
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstancesStatusData'
    post:
      tags:
      - model-endpoint
      operationId: setRequestedInstancesCount
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              maximum: 1000
              minimum: 0
              type: integer
              format: int32
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instances/single:
    post:
      tags:
      - model-endpoint
      operationId: startSingleInstance
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/{instanceId}/terminate:
    post:
      tags:
      - model-instance-endpoint
      operationId: terminateInstance
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/{instanceId}/stop:
    post:
      tags:
      - model-instance-endpoint
      operationId: stopInstance
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/{instanceId}/stat-log:
    post:
      tags:
      - stat-log-endpoint
      operationId: addInstanceConnected
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/{instanceId}/metadata:
    post:
      tags:
      - model-instance-endpoint
      operationId: updateInstanceMetadata
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstanceMetadata'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/{instanceId}/heartbeat:
    post:
      tags:
      - model-instance-endpoint
      operationId: updateLastHeartBeatTime
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: instanceId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/instance/start:
    post:
      tags:
      - model-endpoint
      operationId: startNewInstance
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/http:
    post:
      tags:
      - model-endpoint
      operationId: updateModelHttpSettings
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelHttpSettingsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelHttpSettingsData'
  /api/mlpcore/account/{account}/model/{model}/fit:
    post:
      tags:
      - process-endpoint
      operationId: fit
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FitRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusData'
  /api/mlpcore/account/{account}/model/{model}/fit-v2:
    post:
      tags:
      - process-endpoint
      operationId: fit_v2
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fit2RequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusData'
  /api/mlpcore/account/{account}/model/{model}/fit-config:
    get:
      tags:
      - fit-config-endpoint
      operationId: listFitConfigs
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FitConfigData'
    post:
      tags:
      - fit-config-endpoint
      operationId: createFitConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitConfigData'
  /api/mlpcore/account/{account}/model/{model}/fit-config/{configId}:
    get:
      tags:
      - fit-config-endpoint
      operationId: getFitConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitConfigData'
    post:
      tags:
      - fit-config-endpoint
      operationId: updateFitConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigCreateUpdateData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FitConfigData'
    delete:
      tags:
      - fit-config-endpoint
      operationId: deleteFitConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: configId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/favorite:
    post:
      tags:
      - model-endpoint
      operationId: setFavorite
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: boolean
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model/{model}/external:
    get:
      tags:
      - model-endpoint
      operationId: getExternalConnectionsInfo
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalConnectionInfoData'
    post:
      tags:
      - model-endpoint
      operationId: createExternalConnection
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalConnectionInfoData'
  /api/mlpcore/account/{account}/model/{model}/derived:
    post:
      tags:
      - model-endpoint
      operationId: createDerivedModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: hidden
        in: query
        required: false
        schema:
          type: boolean
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
  /api/mlpcore/account/{account}/model/{model}/cross-validation:
    post:
      tags:
      - process-endpoint
      operationId: crossValidation
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrossValidationRequestData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusData'
  /api/mlpcore/account/{account}/model/{model}/clone:
    post:
      tags:
      - model-endpoint
      operationId: createClonedModel
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelInfoData'
  /api/mlpcore/account/{account}/model/{model}/billing:
    get:
      tags:
      - model-endpoint
      operationId: getModelBillingSettings
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelBillingSettingsData'
    post:
      tags:
      - model-endpoint
      operationId: updateModelBillingSettings
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelBillingSettingsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelBillingSettingsData'
  /api/mlpcore/account/{account}/model/{model}/archive:
    post:
      tags:
      - model-endpoint
      operationId: updateModelArchiveSettings
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelArchiveSettingsData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelArchiveSettingsData'
  /api/mlpcore/account/{account}/model/{model}/alias:
    get:
      tags:
      - model-alias-endpoint
      operationId: getModelAliases
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelAliasData'
    post:
      tags:
      - model-alias-endpoint
      operationId: createAlias
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasData'
  /api/mlpcore/account/{account}/model/{model}/activity:
    post:
      tags:
      - model-endpoint
      operationId: updateLastActivity
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: model
        in: path
        description: Model id or model name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/model-list:
    post:
      tags:
      - model-endpoint
      operationId: getModelList
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelListRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModelInfoData'
  /api/mlpcore/account/{account}/model-group:
    get:
      tags:
      - model-group-endpoint
      operationId: getGroups
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ModelGroupData'
    post:
      tags:
      - model-group-endpoint
      operationId: createGroup
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelGroupData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelGroupData'
    patch:
      tags:
      - model-group-endpoint
      operationId: updateGroup
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModelGroupData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelGroupData'
  /api/mlpcore/account/{account}/management/{featureName}:
    post:
      tags:
      - manual-management-endpoint
      operationId: requestFeature
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: featureName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManagementRequestData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/image:
    get:
      tags:
      - image-endpoint
      operationId: getPagedImages
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: onlyMy
        in: query
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedImageInfoData'
      deprecated: true
    post:
      tags:
      - image-endpoint
      operationId: createImage
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageInfoData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageInfoData'
  /api/mlpcore/account/{account}/image/{imageId}:
    get:
      tags:
      - image-endpoint
      operationId: getImage
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: imageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageInfoData'
    post:
      tags:
      - image-endpoint
      operationId: updateImage
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: imageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageInfoData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageInfoData'
    delete:
      tags:
      - image-endpoint
      operationId: deleteImage
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: imageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/dump:
    get:
      tags:
      - account-endpoint
      operationId: dumpConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: string
    post:
      tags:
      - account-endpoint
      operationId: restoreConfig
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/dataset:
    get:
      tags:
      - dataset-endpoint
      operationId: listDatasets
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetInfoData'
    post:
      tags:
      - dataset-endpoint
      operationId: deprecatedCreateDataset
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeprecatedDatasetInfoWithContentData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetInfoData'
      deprecated: true
  /api/mlpcore/account/{account}/dataset/{datasetId}:
    get:
      tags:
      - dataset-endpoint
      operationId: getDatasetInfo
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: datasetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetInfoData'
    post:
      tags:
      - dataset-endpoint
      operationId: deprecatedUpdateDataset
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: datasetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeprecatedDatasetInfoWithContentData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetInfoData'
      deprecated: true
    delete:
      tags:
      - dataset-endpoint
      operationId: deleteDataset
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: datasetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/dataset/{datasetId}/raw:
    post:
      tags:
      - dataset-endpoint
      operationId: updateDataset
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: datasetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateDatasetInfoData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetInfoData'
  /api/mlpcore/account/{account}/dataset/{datasetId}/paraphrase:
    post:
      tags:
      - dataset-endpoint
      operationId: paraphraseDataset
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: datasetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetInfoData'
  /api/mlpcore/account/{account}/dataset/{datasetId}/content:
    get:
      tags:
      - dataset-endpoint
      operationId: downloadDatasetRawContent
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: datasetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: type
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        default:
          description: default response
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    post:
      tags:
      - dataset-endpoint
      operationId: uploadDatasetContent
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: datasetId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetInfoData'
  /api/mlpcore/account/{account}/dataset/raw:
    post:
      tags:
      - dataset-endpoint
      operationId: createDataset
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: true
        schema:
          type: string
      - name: description
        in: query
        required: false
        schema:
          type: string
      - name: dataType
        in: query
        required: false
        schema:
          type: string
      - name: accessMode
        in: query
        required: false
        schema:
          type: string
          enum:
          - private
          - public
          - restricted
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetInfoData'
  /api/mlpcore/account/{account}/dataset/empty:
    post:
      tags:
      - dataset-endpoint
      operationId: createEmptyDataset
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateDatasetInfoData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetInfoData'
  /api/mlpcore/account/{account}/data-image:
    get:
      tags:
      - data-image-endpoint
      operationId: getPagedDataImages
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: name
        in: query
        required: false
        schema:
          type: string
      - name: onlyMy
        in: query
        required: false
        schema:
          type: boolean
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: size
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedDataImageInfoData'
    post:
      tags:
      - data-image-endpoint
      operationId: createDataImage
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataImageInfoData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataImageInfoData'
  /api/mlpcore/account/{account}/data-image/{imageId}:
    get:
      tags:
      - data-image-endpoint
      operationId: getDataImage
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: imageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataImageInfoData'
    post:
      tags:
      - data-image-endpoint
      operationId: updateDataImage
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: imageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DataImageInfoData'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataImageInfoData'
    delete:
      tags:
      - data-image-endpoint
      operationId: deleteDataImage
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: imageId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore/account/{account}/activity:
    post:
      tags:
      - account-endpoint
      operationId: updateLastActivity_1
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore-internal/clear-cache:
    post:
      tags:
      - internal-endpoint
      operationId: clearAllCaches
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore-internal/accounts/deactivate:
    post:
      tags:
      - internal-endpoint
      operationId: deactivateAccount
      parameters:
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      responses:
        "200":
          description: OK
  /api/mlpcore-internal/account/{account}/update-limits:
    post:
      tags:
      - internal-endpoint
      operationId: updateLimits_1
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountLimitsData'
        required: true
      responses:
        "200":
          description: OK
  /api/mlpcore-internal/account/{account}/resource-groups/{groupName}/test-server:
    post:
      tags:
      - internal-endpoint
      operationId: addTestServer
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: groupName
        in: path
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateResourceGroupServer'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceGroupServerData'
  /api/mlpcore-internal/account/{account}/resource-groups/test:
    post:
      tags:
      - internal-endpoint
      operationId: createTestResourceGroup
      parameters:
      - name: account
        in: path
        description: Account id or account name
        required: true
        schema:
          type: string
      - name: MLP-API-KEY
        in: header
        description: token to use instead of a session
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
[...]
